body{
    font-family: sans-serif;
    max-width: 600px;
    margin: 40px auto;

}

button{
    margin-top: 10px;

}
.reult{
    margin-top:20px;

}

img{
    max-width: 100%;
}

#downloadLink{
    display: none;
    margin-top: 10px;
}
.botao{
    margin-top: 30px;
    padding: 20px;
    background-color: chartreuse;
}